<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Аутентификация</title>
</head>
<body>
  {% for error in errors %}
    <p>{{ error }}</p>
  {% endfor %}
  <form action="index.php" method="POST">
    <label for="login">Логин</label>
    <input type="text" name="login" id="login" autocomplete="off">
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" autocomplete="off">
    <input type="submit" name="sign_in" value="Войти">
    <input type="submit" name="sign_up" value="Заригестрироваться">
  </form>
</body>
</html>