<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Задачи</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="wrap">

    <h1>Здравствуйте, {{ currentUser['login'] }}! </h1>
    {% for addError in addErrors %}
      <p>{{ addError }}</p>
    {% endfor %}
    {% for saveError in saveErrors %}
      <p>{{ saveError }}</p>
    {% endfor %}

    {% if taskForEdit is empty %}
      <form action="./?c=task&a=add" method="POST">
        <label for="description">Описание</label>
        <input type="text" name="description" id="description" autocomplete="off">
        <input type="submit" name="add" value="Добавить">
      </form>
    {% endif %}

    {% if taskForEdit %}
      <form action="?c=task&a=save&id={{ taskForEdit['id'] }}" method="POST">
        <label for="description-edit">Описание</label>
        <input type="text" name="description" id="description" value="{{ taskForEdit['description'] }}" autocomplete="off">
        <input type="submit" name="save" value="Сохранить">
      </form>
    {% endif %}

    <form action="?c=task&a=sort" method="POST">
      <label for="sort-by">Сортировка по: </label>
      <select name="sort_by" id="sort-by" >
        <option value="date_added">Дате добавления</option>
        <option value="is_done">Статусу</option>
        <option value="description">Описанию</option>
      </select>
      <input type="submit" name="sort" value="Отсортировать">
    </form>

    <a href="./?c=user&a=logout">Выйти из системы</a>

    {% if tasksForAuthor is empty and tasksForAssigned is empty %}
      <p>Нет активных задач</p>
    {% endif %}

    {% if tasksForAuthor %}
      <table class="table">
        <thead>
          <tr>
            <th>Описание задачи</th>
            <th>Дата добавления</th>
            <th>Статус</th>
            <th>Действия</th>
            <th>Ответственный</th>
            <th>Автор</th>
            <th>Закрепить задачу за пользователем</th>
          </tr>
        </thead>
        {% for task in tasksForAuthor %}
          <tr>
            <td>{{ task['description'] }}</td>
            <td>{{ task['date_added'] }}</td>
            <td class="{{ task['is_done'] ? 'complete' : 'not-complete' }}">{{ task['is_done'] ? 'Выполнено' : 'В процессе' }}</td>
            <td>
              <a href="?c=task&a=editPrepare&id={{ task['id'] }}">Изменить</a>
              <a href="?c=task&a=complete&id={{ task['id'] }}">Выполнить</a>
              <a href="?c=task&a=delete&id={{ task['id'] }}">Удалить</a>
            </td>
            <td>
              {{ task['assigned_user'] }}
            </td>
            <td>
              {{ task['user'] }}
            </td>
            <td>
              <form action="./?c=task&a=changeAssign&id={{ task['id'] }}" method="POST">
                <select name="assigned_user_id" id="assigned-user-id">
                  {% for user in users %}
                    <option value="{{ user['id'] }}">{{ user['login'] }}</option>
                  {% endfor %}
                </select>
                <input type="submit" name="change_assign_user" value="Переложить ответственность">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

    {% if tasksForAssigned %}
      <h2>Также, посмотрите, что от Вас требуют другие люди:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Описание задачи</th>
            <th>Дата добавления</th>
            <th>Статус</th>
            <th>Действия</th>
            <th>Ответственный</th>
            <th>Автор</th>
          </tr>
        </thead>
        {% for task in tasksForAssigned %}
          <tr>
            <td>{{ task['description'] }}</td>
            <td>{{ task['date_added'] }}</td>
            <td class="{{ task['is_done'] ? 'complete' : 'not-complete' }}">{{ task['is_done'] ? 'Выполнено' : 'В процессе' }}</td>
            <td>
              <a href="?c=task&a=editPrepare&id={{ task['id'] }}">Изменить</a>
              <a href="?c=task&a=complete&id={{ task['id'] }}">Выполнить</a>
              <a href="?c=task&a=delete&id={{ task['id'] }}">Удалить</a>
            </td>
            <td>
              {{ task['assigned_user'] }}
            </td>
            <td>
              {{ task['user'] }}
            </td>
          </tr>
        {% endfor %}
      </table>    
    {% endif %}
  </div>
</body>
</html>